---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de - Radio Unción">
    <main class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold mb-6 text-center text-primary">
            Sobre Nosotros
        </h1>
        <p class="text-center text-gray-600">
            Conoce más sobre Radio y TV Unción.
        </p>
    </main>
</Layout>
