---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog - Radio Unción">
    <main class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold mb-6 text-center text-primary">
            Nuestro Blog
        </h1>
        <p class="text-center text-gray-600">
            Próximamente noticias y artículos.
        </p>
    </main>
</Layout>
